

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}

<div class="blog-post {{post_class}}">
    <h2 class="blog-post-title"><a href="{{url}}">{{{title}}}</a></h2>
    <p>{{excerpt words="25"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    <div class="post-tags mb-1">
        {{#if tags}}
            {{#foreach tags}}
                <a href="{{url}}" title="{{name}}" class="tag label-tag">{{name}}</a>
            {{/foreach}}
        {{/if}}
    </div>
    <div class="blog-post-meta">
        {{author}} - 
        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> 
    </div>
</div>

{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
<div>
    {{pagination}}
</div>
